{% extends 'hr/base.html'%}
{% load static %}
{% block head %} {{title}} {% endblock %}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <a href="{% url 'employee:office_home' %}" style="min-width:100px;" class="btn btn-dark m-1">Back</a>
    
</div>

<div class="d-grid gap-2 ">
    <div class="card" >
        <div class="card-body">

            <table class="table table-borderless table-sm">

                <tr>
                    <td>Office Id</td>
                    <td>{{x.id}} </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{x.title}}</td>
                </tr>
                <tr>
                    <td>Short Name</td>
                    <td>{{x.stitle}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{x.address}}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{x.contact}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{x.email}}</td>
                </tr>
                <tr>
                    <td>Parent Office ID</td>
                    <td>{{ x.parent }}</td>
                </tr>
                

            </table>
            
            
                
            
    
        </div>
    </div>
</div>



{% endblock%}