{% extends 'management/base.html'%}

{% block head %} {{title}} {% endblock %}

{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <a href="{% url 'order:order_report' x.id %}" target="_blank" style="min-width:100px;" class="btn btn-info m-1">Report</a>
    <a href="{% url 'order:order_home' %}" style="min-width:100px;" class="btn btn-dark m-1">Back</a>
    
</div>
<div class="d-grid gap-2 ">
    <div class="card ">
        <div class="card-body">
            <table class="table table-borderless table-sm">
                <tr>
                    <tr>
                        <td rowspan="4" style="width:35%">
                            Order To: <br/>
                            {{x.quotation.contact.vendor.name}} <br/>
                            {{x.address.address}}<br/>
                            {{x.address.district}}, {{x.address.country}}
                        </td>
                        <td></td>
                        <td style="width:12%">Reference</td>
                        <td style="width:25%">{{x.ref}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Date</td>
                        <td>{{x.date|date:"d/m/Y"}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Your Ref</td>
                        <td>{{x.quotation.reference}}</td>
                    </tr>
                    <tr>
                        
                        <td></td>
                        <td>Your Ref Date</td>
                        <td>{{x.quotation.date|date:"d/m/Y"}}</td>
                    </tr>
                    <tr>
                        <td>
                            <u> Shipping/Work Address: </u> <br/>
                            {{x.office.title}} <br/>
                            {{x.office.address}} <br/>
                            {{x.office.contact}} <br/>
                            {{x.office.email}}
                        </td>
                        <td></td>
                        <td>Contact</td>
                        <td>{{x.quotation.contact.name}}, {{x.quotation.contact.title}} <br/>
                            {{x.quotation.contact.mobile}}  <br/>
                            {{x.quotation.contact.email}}
                        </td>
                        
                    </tr>
                    

                </tr>
            </table>
            
            				
            <br>
            {% if  x.service %}
            <table class="table table-sm ">
                <tr>
                    <td style="width: 5%;">#</td>
                    
                    <td>
                        Item Description <br/>
                        Work Description
                    </td>
                    

                    
                    <td>
                        Quantity
                    </td>
                    <td>
                        Unit
                    </td>
                    <td>
                        Unit Price
                    </td>
                    <td>
                        Line Amount
                    </td>
                </tr>
                {% for x1 in xs %}
                <tr>
                    <td>{{forloop.counter}}</td>
  

                    
                    <td>{{x1.item.description|safe}} </td>
                    
                    
                    <td>{{x1.quantity}}</td>
                    <td>{{x1.item.unit}}</td>
                    <td>{{x1.price}}</td>
                    <td>{{x1.line_amount}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">Total Amount including AIT</td>
                    <td>{{x.total}}</td>
                </tr>
                <tr>
                    <td colspan="5">VAT({{x.vat_per}} %) Amount</td>
                    <td>{{x.vat}}</td>
                </tr>
                <tr>
                    <td colspan="5">Gross Amount</td>
                    <td>{{x.gross}}</td>
                </tr>
                <tr>
                    <td colspan="6">In word: {{x.txt_amount}}</td>
                </tr>
            </table>
            {% else %}
            <table class="table table-sm ">
                <tr>
                    <td style="width: 5%;">#</td>
                    
                   
                    
                    <td>	
                        Part No <br/>
                        Item Code
                    </td>
                    <td>
                        Item Description <br/>
                        Work Description
                    </td>
                    
                    <td>
                        Quantity
                    </td>
                    <td>
                        Unit
                    </td>
                    <td>
                        Unit Price
                    </td>
                    <td>
                        Line Amount
                    </td>
                </tr>
                {% for x1 in xs %}
                <tr>
                    <td>{{forloop.counter}}</td>
  
                    <td>{{x1.item.part_no}} <br/> {{x1.item.rev_part}}</td>
                    <td>{{x1.item.part_name|safe}} <br/> {{x1.item.description|safe}} </td>
                    
                    <td>{{x1.quantity}}</td>
                    <td>{{x1.item.unit}}</td>
                    <td>{{x1.price}}</td>
                    <td>{{x1.line_amount}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6">Total Amount including AIT</td>
                    <td>{{x.total}}</td>
                </tr>
                <tr>
                    <td colspan="6">VAT({{x.vat_per}} %) Amount</td>
                    <td>{{x.vat}}</td>
                </tr>
                <tr>
                    <td colspan="6">Gross Amount</td>
                    <td>{{x.gross}}</td>
                </tr>
                <tr>
                    <td colspan="7">In word: {{x.txt_amount}}</td>
                </tr>
            </table>
            {% endif %}
           <br/>
            <table class="table table-sm table-borderless">
                <p>Terms & Conditions:</p>
                {% for y in x.terms %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{y.legend}}</td>
                    <td>  {% if y.newtext  %}
                     {{y.newtext|safe}}
                    {% endif  %}
                    {% if y.text  %}
                    {{y.text|safe }}
                    {% endif  %}
                    </td>
                </tr>
                {% endfor %}
            </table>


            <p> ______________________ <br/>
                {{x.order_by.name}}  <br/>
                {{x.order_by_title.title}}  <br/>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}